body {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0px;
    max-width: 654px;
    font-family: arial;
}
footer {
    border-top: 1px solid grey ;
}
header a{
    text-decoration: none;
}
